<div class="main-container">
<div class="white-container">

	<div class="error-space">
		<p class="error-message" *ngIf="errorMessage=='0'">An account with this email already exists, go back to <a href="/index">login screen</a></p>
	</div>
	<form class="full-width">
		<mat-form-field class="full-width">
			<input matInput #user_email placeholder="Email" [formControl]="emailFormControl">
			<mat-error *ngIf="emailFormControl.hasError('email')">
				Please enter a valid email address
			</mat-error>
		</mat-form-field>

		<mat-form-field class="full-width">
			<input matInput #user_password  placeholder="Password" value="" type="password">
		</mat-form-field>

		<mat-form-field class="full-width">
			<input matInput #user_password2  placeholder="Repeat Password" value="" type="password">
		</mat-form-field>

		<button mat-raised-button (click)="registerUser(user_email.value, user_password.value, user_password2.value)">Register</button>

	</form>
</div>

</div>
