mat-list-item {
	border-bottom: solid 1px #ccc;
}

.todo-list-spacer {
	flex: 1 1 auto;
}

mat-checkbox {
	margin-right: 20px;
	float: left;
}

p {
	margin-bottom: 20px!important;
}

.error-space{
	height: auto;
	margin-bottom: 10px;
}

.bottom-button {
	margin-top: 20px;
}
