<div class="main-container">
	<div class="white-container">

		<div class="error-space">
			<p class="error-message" *ngIf="errorMessage=='0'">The entered user does not exist</p>
		</div>
		<form class="full-width">
			<mat-form-field class="full-width">
				<input matInput #user_email placeholder="Email" [formControl]="emailFormControl">
				<mat-error *ngIf="emailFormControl.hasError('email')">
					Please enter a valid email address
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput #user_password (keyup.enter)="loginUser(user_email.value, user_password.value)" placeholder="Password" value="" type="password">
			</mat-form-field>

			<button mat-raised-button color="primary" (click)="loginUser(user_email.value, user_password.value)">Login</button>

			<button mat-raised-button routerLink="/register">Register</button>

		</form>
	</div>

</div>
