body {
	background: rgb(242, 242, 242)!important;
	margin: 0;
}

h3, p{
	text-align: left;
}

md-content {
	background: inherit;
}

.paper-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	z-index: 500;
	position: relative;
}

.main-container{
	min-width: 320px;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.white-container{
	position: relative;
	width: 100%;
	padding: 10px 20px 20px 20px;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-bottom: 40px
	overflow: auto;
}


.material-icons {
	opacity: .7;
}
