<div class="main-container">
	<div class="white-container" layout="column">
		<md-content class="md-no-momentum">

			<md-input-container class="md-block">
				<md-icon><i class="material-icons">email</i></md-icon>
				<input ng-model="user.email" type="email" placeholder="Email">
			</md-input-container>

			<md-input-container class="md-block">
				<md-icon><i class="material-icons">lock</i></md-icon>
				<input ng-model="user.password" type="password" placeholder="Password">
			</md-input-container>

			<md-button class="md-raised md-primary">Login > </md-button>
			
			<md-button class="md-raised">Register + </md-button>
		</md-content>
	</div>
</div>


<style>
</style>
